data/ga/*
data/ga/ga_sessions.parquet
data/ga/ga_hits.parquet

data/json/*
data/json/ga_hits_new_2022-01-02.json
data/json/ga_hits_new_2022-01-03.json
data/json/ga_hits_new_2022-01-04.json
data/json/ga_hits_new_2022-01-05.json
data/json/ga_sessions_new_2022-01-02.json
data/json/ga_sessions_new_2022-01-03.json
data/json/ga_sessions_new_2022-01-04.json
data/json/ga_sessions_new_2022-01-05.json

.venv/
.idea/
.idea/workspace.xml

__pycache__/
*.pyc
